<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="openGalery()" expand="block">
      Escolher Foto
    </ion-button>
    <ion-button (click)="uploadPicture()" expand="block">
      Enviar Foto
    </ion-button>
    <ion-item>
      <ion-label>Progresso do upload: {{ uploadPercent | async}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">URL de download: {{ downloadURL }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Imagem selecionada: {{ fileImage }}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Imagem no storage:</ion-label>
    <img [src]="downloadURL" *ngIf="downloadURL">
    </ion-item>
</ion-content>
